{% extends 'MmiBlogBundle::layout.html.twig' %}

{% block content_content %}
<div class="panel panel-default">
    <div class="panel-heading">Bienvenue sur le blog de l'IUT du Bourget du Lac</div>
    <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum lacinia felis, tempus laoreet diam hendrerit et. Praesent eu efficitur arcu. Phasellus pellentesque risus efficitur, bibendum nisi ac, vulputate eros. Aliquam efficitur est ac nunc suscipit dictum. Maecenas sed tellus imperdiet, pharetra eros ut, suscipit ligula. Duis molestie molestie libero ut auctor. Etiam sit amet semper tellus. Duis pulvinar scelerisque euismod. Nulla convallis semper sem. Quisque lacinia rhoncus viverra. Curabitur ante ligula, vulputate sit amet posuere vel, aliquam a nibh. Etiam hendrerit nulla non elit blandit, et ornare libero aliquet. Etiam sit amet massa turpis. Donec rutrum metus vel sem convallis, a sollicitudin justo ultrices. Proin tincidunt ligula eu odio imperdiet facilisis.</p>
    </div>
</div>
{% endblock %}