{% extends 'MmiBlogBundle::layout.html.twig' %}

{% block navbar %}
<p>La navigation</p>
{% endblock %}


{% block content_content %}
<p> Le contenu</p>
{% endblock %}


{% block content_sidebar %}
<p> Salut</p>
{% endblock %}